body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}
@media (max-width: 768px) {
   
    .Afterloginlanding-wrapper {
        padding: 0;
        overflow-x: hidden;
    }
 
   
    .Opportunities-section {
        padding: 40px 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
 
    .Opportunities-title {
        font-size: 1.5rem;
        margin-bottom: 25px;
    }
 
   
    .Opportunities-view-more-btn {
        width: 100%;
        max-width: 350px;
        padding: 14px 0;
        margin-top: 30px;
        font-size: 1rem;
        border-radius: 8px;
    }
}