.blogpage{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 50px 0;
}
.cat-con{
  display: flex;
  flex-direction: column;
  margin: 0 50px;
  /* border:1px solid #333; */
  padding: 20px;
}

.content{
  max-height: fit-content;
}
.extra-content {
  display: none;
}
.content button{
  background: none;
  outline: none;
  border: none;
  color: #111111;
  font-weight: 800;
  font-size: larger;
  font-family: "Inter";
}
.content button:focus ~ .extra-content {
  display: block;
}

.container{
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  /* margin-left: 70px; */
  /* margin-top: 50px; */
  padding: 20px;

}

.container > div{
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  width:80% ;
  
}

.container > div:hover{
  transform: translateY(-8px);
}
.container img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.container h3{
  margin: 15px 0 10px;
  font-size: 18px;
  color: #333;

}
.container p{
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

.categories {
  
  margin: 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-bottom: 30px;
  /* background-color: #111111; */
}

.categories h1 {
  font-size: 32px;
  font-weight: 700;
  /* text-transform: lowercase; */
}

.view-all {
  background: transparent;
  background-color: blue;
  color: white;
  border: 1px solid #ccc;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 6px;
}

.card-title{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-top: 12px;
}